/* -- Hovedstiler -- */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* -- Navbar -- */

#navbar {
    background-color: #ffd500;
    padding: 10px;
    display: flex;
    justify-content: space-between;

}

#logo {
    font-size: x-large;
    font-weight: bold;
    color: black;
    align-self: center;
    text-decoration: none;
}

#logo:hover {
    color: rgb(47, 47, 47);
    transition: 0.3s;

}
#navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

/* -- Footer -- */

footer {
    background-color: #ffd500;
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* -- Julius -- */

/* -- Daniel -- */

/* -- Martin -- */

/* -- Jonette -- */
#JonetteTittel {
    text-align: center;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#JonetteUnderoverskrift {
    text-align: center;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Toppbilde {
    width: 100%;
}
.JonetteArticle1 {
    display: flex;
    width: 100%;
}
.SectionJ1Venstre {
    max-width: 40%;
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Produktbilde {
    max-width: 50%;
    height: auto;
    object-fit: cover;
}
.JonetteArticle2 {
    display: flex;
    width: 100%;
}
.SectionJ2Høyre {
    max-width: 40%;
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Fønebilde {
    max-width: 50%;
    height: auto;
    object-fit: cover;
}
.JonetteArticle3 {
    display: flex;
    width: 100%;
}
.SectionJ3Venstre {
    text-align: left;
    max-width: 40%;
    padding: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Finishingbilde {
    max-width: 40%;
    height: auto;
    object-fit: cover;
}
.SectionJ4Venstre {
    text-align: left;
    max-width: 40%;
    flex: 1;
    padding: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Bunnbilde {
    margin-bottom: 4rem;
    width: 100%;
}


/* -- Mina -- */
.Eksempelstrikk {
    width: 100%;
}
#Mina-tittel {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#Strikkekonsulent {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Mina-main {
    margin-bottom: 3rem;    
}
.MinaBody {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Mina-article1 {
    padding: 20px;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color:rgba(255, 212, 156, 0.55);
}
.Mina-article2 {
    margin-bottom: 25rem;
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
    height: 100vh;
}
.Section1M-venstre{
    flex: 1;
    padding: 20px;
    background-color: rgba(221, 184, 135, 0.667);
    margin-right: 1rem;
}
.Section1M-høyre {
    flex: 1;
    padding: 20px;
    border-left: 2px;
    background-color:rgba(189, 157, 115, 0.855);
    margin-right: 2rem;
    margin-left: 1rem;
}

.Bildegalleri-Mina {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
    margin-right: 5px;
}
.Bildegalleri-Mina img {
    width: 95%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.3s;
}
.Bildegalleri-Mina img:hover {
    transform: scale(1.1);
}
.Link-Mina {
    color:brown;
    text-decoration: none;
}
.Link-Mina:hover {
    text-decoration:underline;
}
