/* -- Hovedstiler -- */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* -- Navbar -- */

#navbar {
    background-color: burlywood;
    padding: 10px;
    display: flex;
    justify-content: space-between;

}

#logo {
    font-size: x-large;
    font-weight: bold;
    color: white;
    align-self: center;
    text-decoration: none;
}

#logo:hover {
    color: black;
    transition: 0.3s;

}
#navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

/* -- Footer -- */

footer {
    background-color: burlywood;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* -- Julius -- */

/* -- Daniel -- */

/* -- Martin -- */

/* -- Jonette -- */

/* -- Mina -- */
.Eksempelstrikk {
    width: 100%;
}
#Mina-tittel {
    text-align: center;
}
#Strikkekonsulent {
    text-align: center;
}
.Mina-main {
    margin-bottom: 3rem;    
}
.Mina-article2 {
    margin-bottom: 20rem;
    margin-left: 2rem;
}
